.idea
*.iml
*.versionsBackup
target
db
error
output
hs_err_pid*.log
spy.log
log
error
output
hs_err_pid*.log

*.log
**/log
**/*.index

*.class

*.aux
*.dvi
*.out

*.db4o

.settings

*.dat
*.ctrl
*.lck
*.iml
dependency-reduced-pom.xml
.project
.idea
out
**/logs
*.db

.log-perform
pom.xml.releaseBackup
release.properties
